@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --confetti-50: #fcfcea;
  --confetti-100: #faf7c7;
  --confetti-200: #f6ed92;
  --confetti-300: #f0dc55;
  --confetti-400: #eac825;
  --confetti-500: #dab118;
  --confetti-600: #bc8a12;
  --confetti-700: #966412;
  --confetti-800: #7c4f17;
  --confetti-900: #6a4119;
  --confetti-950: #3e230a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sniglet);
}
